includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
  level: 6
  paths:
    - app
  excludePaths:
    - vendor
    - ./*/*/FileToBeExcluded.php
    - node_modules
    - storage
    - migrations
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - '#Call to an undefined method Laravel\\Socialite\\Contracts\\Provider::stateless\(\)#'
    - '#Call to an undefined method Laravel\\Sanctum\\Contracts\\HasAbilities::delete\(\)#'
