name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2

      - name: Validate composer.json and composer.lock
        run: composer validate

      - uses: ramsey/composer-install@2.2.0

      - name: APP_KEY generate
        run: touch .env && cp .env.example .env && php artisan key:generate

      - name: Set up .env.testing
        run: echo "${{ secrets.ENV_TESTING }}" > .env.testing

      - name: Run tests with PHPUnit
        run: php artisan test

      - name: Check coding standards with PHP_CodeSniffer
        run: composer phpcs
